@model InMost.Models.ConvidarModel
@{
    ViewBag.Title = "Convidar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<i class="flaticon-menu iconMenu btn-menu"></i>
<div id="menu-toggle">
    <a href="@Url.Action("EditarPerfil","EditarPerfil", "EditarPerfil")">
        <nav style="padding: 0px;">
            <img src="~/img/perfil/fagner.jpg" alt="user name" class="foto" />
            <h2 style="padding: 10px 0px;">
                "Fagner Fun"
            </h2>
        </nav>
    </a>
    <a href="@Url.Action("foto","foto")">
        <nav>
            <i class="flaticon-menu-photo"></i>
            <p>Fotos</p>
        </nav>
    </a>
    <a href="inmost.html">
        <nav>
            <i class="flaticon-menu-inmost"></i>
            <p>Inmost</p>
        </nav>
    </a>
    <a href="@Url.Action("Convidar","Convidar", "Convidar")">
        <nav>
            <i class="flaticon-menu-send"></i>
            <p>Convidar</p>
        </nav>
    </a>
    <a href="aprovar.html">
        <nav>
            <i class="flaticon-like"></i>
            <p>Aprovar</p>
        </nav>
    </a>
    <a href="sair.html">
        <nav>
            <i class="flaticon-control-sair"></i>
            <p>Sair</p>
        </nav>
    </a>
</div>

<img src="~/img/logo.png" alt="Beta Inmost" class="logo">


@using (Html.BeginForm("EnviarMail", "Convidar", FormMethod.Post, new { @id = "FormConvidar" }))
{
    <div class="control-label">
        <div id="formulario" class="col-md-12">

            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-10">
                    <label>
                        @Html.TextBoxFor(m => m.email, new { @placeholder = "email" , @type = "email" })
                    </label>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-3">
                    <input type="submit"  value="Convidar" />

                </div>
            </div>



        </div>
    </div>

 <br /><br />

}

@if (ViewBag.Validacao != null)
{
   if (ViewBag.Validacao == 0)
    {
        <script>
                swal("Desculpe", "Convite enviado com sucesso", "error");
        </script>
        ViewBag.Validacao = 10;
    }
    else if (ViewBag.Validacao == 1)
    {
        <script>
                swal("Desculpe", "Campo Obrigatório", "error");
        </script>
        ViewBag.Validacao = 10;
    }
    else if (ViewBag.Validacao == 2)
    {
        <script>
                swal("Desculpe", "Usuario Inexistente", "error");
        </script>
        ViewBag.Validacao = 10;
    }
    else if (ViewBag.Validacao == 3)
    {
        <script>
                swal("Desculpe", "E-Mail Invalido", "error");
        </script>
        ViewBag.Validacao = 10;
    }
}