USE [master]
GO
/****** Object:  Database [INMOST]    Script Date: 04/10/2015 20:20:25 ******/
CREATE DATABASE [INMOST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INMOST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\INMOST.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'INMOST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\INMOST_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INMOST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INMOST]
GO
/****** Object:  Table [dbo].[APROVAR]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APROVAR](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[_USR_CONSELHEIRO] [int] NULL,
	[_USR_CONVIDADO] [int] NULL,
	[DESCRICAO] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONVITE]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONVITE](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[_USR_MEMBRO] [int] NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CURTIDA]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CURTIDA](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[_USR_RECEPTOR] [int] NOT NULL,
	[_USR_EMISSOR] [int] NOT NULL,
	[_ID_TIPO] [int] NOT NULL,
	[_ID_TIPO_REPLICA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CURTIDA_TIPO]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CURTIDA_TIPO](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[_ID_TIPO] [int] NOT NULL,
	[_ID_CURTIDA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOTO]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOTO](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[_USR_MEMBRO] [int] NOT NULL,
	[URL] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGIN](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[SENHA] [varchar](100) NOT NULL,
	[_NOVO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERFIL](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[CONSELHEIRO] [int] NOT NULL,
	[CONVIDADO] [int] NOT NULL,
	[MEMBRO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REJEICAO]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[REJEICAO](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[_USR_REJEITADO] [int] NOT NULL,
	[_USR_REJEITA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TECNOLOGIA]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TECNOLOGIA](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[NOM] [varchar](255) NOT NULL,
	[DSC] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[DESCRICAO] [varchar](100) NULL,
	[NEGACAO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USR]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USR](
	[_ID] [int] IDENTITY(1,1) NOT NULL,
	[_INS] [datetime] NULL,
	[_UPD] [datetime] NULL,
	[_USR] [varchar](30) NULL,
	[_ATV] [int] NULL,
	[NOME] [varchar](255) NULL,
	[APELIDO] [varchar](255) NULL,
	[SEXO] [varchar](30) NULL,
	[DDD] [varchar](5) NULL,
	[TELEFONE] [varchar](20) NULL,
	[DESCRICAO] [varchar](1000) NULL,
	[DATA_NASC] [datetime] NULL,
	[URL_IMG] [varchar](500) NULL,
	[_ID_LOGIN] [int] NOT NULL,
	[_ID_PERFIL] [int] NOT NULL,
	[PREF_SEX] [nchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CURTIDA] ON 

INSERT [dbo].[CURTIDA] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [_USR_RECEPTOR], [_USR_EMISSOR], [_ID_TIPO], [_ID_TIPO_REPLICA]) VALUES (2, NULL, NULL, NULL, NULL, 5, 6, 1, 6)
INSERT [dbo].[CURTIDA] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [_USR_RECEPTOR], [_USR_EMISSOR], [_ID_TIPO], [_ID_TIPO_REPLICA]) VALUES (3, NULL, NULL, NULL, NULL, 5, 6, 2, 6)
INSERT [dbo].[CURTIDA] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [_USR_RECEPTOR], [_USR_EMISSOR], [_ID_TIPO], [_ID_TIPO_REPLICA]) VALUES (4, NULL, NULL, NULL, NULL, 5, 6, 3, 5)
SET IDENTITY_INSERT [dbo].[CURTIDA] OFF
SET IDENTITY_INSERT [dbo].[LOGIN] ON 

INSERT [dbo].[LOGIN] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [EMAIL], [SENHA], [_NOVO]) VALUES (1, CAST(N'2015-10-03 18:02:18.713' AS DateTime), CAST(N'2015-10-03 18:02:18.713' AS DateTime), N'SYS', 1, N'beta@beta.com', N't4RLmFJFC8s=', 0)
INSERT [dbo].[LOGIN] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [EMAIL], [SENHA], [_NOVO]) VALUES (2, CAST(N'2015-10-03 18:02:18.713' AS DateTime), CAST(N'2015-10-03 18:02:18.713' AS DateTime), N'SYS', 1, N'fer@beta.com', N't4RLmFJFC8s=', 0)
INSERT [dbo].[LOGIN] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [EMAIL], [SENHA], [_NOVO]) VALUES (5, CAST(N'2015-10-03 18:02:18.713' AS DateTime), CAST(N'2015-10-03 18:02:18.713' AS DateTime), N'SYS', 1, N'fun@beta.com', N't4RLmFJFC8s=', 0)
SET IDENTITY_INSERT [dbo].[LOGIN] OFF
SET IDENTITY_INSERT [dbo].[PERFIL] ON 

INSERT [dbo].[PERFIL] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [CONSELHEIRO], [CONVIDADO], [MEMBRO]) VALUES (1, CAST(N'2015-10-03 19:09:54.207' AS DateTime), CAST(N'2015-10-03 19:09:54.207' AS DateTime), N'SYS', 1, 1, 1, 1)
INSERT [dbo].[PERFIL] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [CONSELHEIRO], [CONVIDADO], [MEMBRO]) VALUES (2, CAST(N'2015-10-03 19:09:54.207' AS DateTime), CAST(N'2015-10-03 19:09:54.207' AS DateTime), N'SYS', 1, 1, 1, 1)
INSERT [dbo].[PERFIL] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [CONSELHEIRO], [CONVIDADO], [MEMBRO]) VALUES (4, CAST(N'2015-10-03 19:40:21.233' AS DateTime), CAST(N'2015-10-03 19:40:21.233' AS DateTime), N'SYS', 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[PERFIL] OFF
SET IDENTITY_INSERT [dbo].[REJEICAO] ON 

INSERT [dbo].[REJEICAO] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [_USR_REJEITADO], [_USR_REJEITA]) VALUES (2, NULL, NULL, NULL, 1, 4, 6)
INSERT [dbo].[REJEICAO] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [_USR_REJEITADO], [_USR_REJEITA]) VALUES (4, NULL, NULL, NULL, 1, 4, 5)
SET IDENTITY_INSERT [dbo].[REJEICAO] OFF
SET IDENTITY_INSERT [dbo].[TIPO] ON 

INSERT [dbo].[TIPO] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [DESCRICAO], [NEGACAO]) VALUES (1, NULL, NULL, NULL, 1, N'CINEMA', 0)
INSERT [dbo].[TIPO] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [DESCRICAO], [NEGACAO]) VALUES (2, NULL, NULL, NULL, 1, N'JANTAR', 0)
INSERT [dbo].[TIPO] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [DESCRICAO], [NEGACAO]) VALUES (3, NULL, NULL, NULL, 1, N'MOTEL', 0)
SET IDENTITY_INSERT [dbo].[TIPO] OFF
SET IDENTITY_INSERT [dbo].[USR] ON 

INSERT [dbo].[USR] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [NOME], [APELIDO], [SEXO], [DDD], [TELEFONE], [DESCRICAO], [DATA_NASC], [URL_IMG], [_ID_LOGIN], [_ID_PERFIL], [PREF_SEX]) VALUES (3, CAST(N'2015-10-03 19:12:15.310' AS DateTime), CAST(N'2015-10-03 19:12:15.310' AS DateTime), N'SYS', 1, N'Nome do Cara', N'Apelido', N'Masculino', N'41', N'99999999', N'Descrição', CAST(N'1989-10-26 00:00:00.000' AS DateTime), N'URL da imagem aqui', 1, 1, NULL)
INSERT [dbo].[USR] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [NOME], [APELIDO], [SEXO], [DDD], [TELEFONE], [DESCRICAO], [DATA_NASC], [URL_IMG], [_ID_LOGIN], [_ID_PERFIL], [PREF_SEX]) VALUES (4, CAST(N'2015-10-03 19:41:02.683' AS DateTime), CAST(N'2015-10-03 19:41:02.683' AS DateTime), N'SYS', 1, N'nome do cara2', N'apelido2', N'Masculino', N'41', N'99999999', N'Descrição', CAST(N'1989-10-26 00:00:00.000' AS DateTime), N'IMG LOKO', 2, 2, NULL)
INSERT [dbo].[USR] ([_ID], [_INS], [_UPD], [_USR], [_ATV], [NOME], [APELIDO], [SEXO], [DDD], [TELEFONE], [DESCRICAO], [DATA_NASC], [URL_IMG], [_ID_LOGIN], [_ID_PERFIL], [PREF_SEX]) VALUES (5, CAST(N'2015-10-03 19:41:11.307' AS DateTime), CAST(N'2015-10-03 19:41:11.307' AS DateTime), N'SYS', 1, N'nome do cara3', N'apelido5', N'Masculino', N'41', N'99999999', N'Descrição', CAST(N'1989-10-26 00:00:00.000' AS DateTime), N'IMG LOKOds', 5, 4, NULL)
SET IDENTITY_INSERT [dbo].[USR] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CONVITE__161CF72408F3351C]    Script Date: 04/10/2015 20:20:25 ******/
ALTER TABLE [dbo].[CONVITE] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__LOGIN__161CF72460255687]    Script Date: 04/10/2015 20:20:25 ******/
ALTER TABLE [dbo].[LOGIN] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APROVAR]  WITH CHECK ADD  CONSTRAINT [FK_USR_CONSELHEIRO] FOREIGN KEY([_USR_CONSELHEIRO])
REFERENCES [dbo].[USR] ([_ID])
GO
ALTER TABLE [dbo].[APROVAR] CHECK CONSTRAINT [FK_USR_CONSELHEIRO]
GO
ALTER TABLE [dbo].[APROVAR]  WITH CHECK ADD  CONSTRAINT [FK_USR_CONVIDADO] FOREIGN KEY([_USR_CONVIDADO])
REFERENCES [dbo].[USR] ([_ID])
GO
ALTER TABLE [dbo].[APROVAR] CHECK CONSTRAINT [FK_USR_CONVIDADO]
GO
ALTER TABLE [dbo].[CONVITE]  WITH CHECK ADD  CONSTRAINT [FK_USR_MEMBRO] FOREIGN KEY([_USR_MEMBRO])
REFERENCES [dbo].[USR] ([_ID])
GO
ALTER TABLE [dbo].[CONVITE] CHECK CONSTRAINT [FK_USR_MEMBRO]
GO
ALTER TABLE [dbo].[CURTIDA]  WITH CHECK ADD  CONSTRAINT [FK_ID_TIPO] FOREIGN KEY([_ID_TIPO])
REFERENCES [dbo].[TIPO] ([_ID])
GO
ALTER TABLE [dbo].[CURTIDA] CHECK CONSTRAINT [FK_ID_TIPO]
GO
ALTER TABLE [dbo].[CURTIDA]  WITH CHECK ADD  CONSTRAINT [FK_ID_TIPO_REPLICA] FOREIGN KEY([_ID_TIPO_REPLICA])
REFERENCES [dbo].[TIPO] ([_ID])
GO
ALTER TABLE [dbo].[CURTIDA] CHECK CONSTRAINT [FK_ID_TIPO_REPLICA]
GO
ALTER TABLE [dbo].[CURTIDA]  WITH CHECK ADD  CONSTRAINT [FK_USR_EMISSOR] FOREIGN KEY([_USR_EMISSOR])
REFERENCES [dbo].[USR] ([_ID])
GO
ALTER TABLE [dbo].[CURTIDA] CHECK CONSTRAINT [FK_USR_EMISSOR]
GO
ALTER TABLE [dbo].[CURTIDA]  WITH CHECK ADD  CONSTRAINT [FK_USR_RECEPTOR] FOREIGN KEY([_USR_RECEPTOR])
REFERENCES [dbo].[USR] ([_ID])
GO
ALTER TABLE [dbo].[CURTIDA] CHECK CONSTRAINT [FK_USR_RECEPTOR]
GO
ALTER TABLE [dbo].[CURTIDA_TIPO]  WITH CHECK ADD  CONSTRAINT [FK_CURTIDA] FOREIGN KEY([_ID_CURTIDA])
REFERENCES [dbo].[CURTIDA] ([_ID])
GO
ALTER TABLE [dbo].[CURTIDA_TIPO] CHECK CONSTRAINT [FK_CURTIDA]
GO
ALTER TABLE [dbo].[CURTIDA_TIPO]  WITH CHECK ADD  CONSTRAINT [FK_ID_TIPO_CURTIDA] FOREIGN KEY([_ID_TIPO])
REFERENCES [dbo].[TIPO] ([_ID])
GO
ALTER TABLE [dbo].[CURTIDA_TIPO] CHECK CONSTRAINT [FK_ID_TIPO_CURTIDA]
GO
ALTER TABLE [dbo].[FOTO]  WITH CHECK ADD  CONSTRAINT [FK_USR_MEMBRO_FOTO] FOREIGN KEY([_USR_MEMBRO])
REFERENCES [dbo].[USR] ([_ID])
GO
ALTER TABLE [dbo].[FOTO] CHECK CONSTRAINT [FK_USR_MEMBRO_FOTO]
GO
ALTER TABLE [dbo].[REJEICAO]  WITH CHECK ADD  CONSTRAINT [FK_USR_REJEITA] FOREIGN KEY([_USR_REJEITA])
REFERENCES [dbo].[USR] ([_ID])
GO
ALTER TABLE [dbo].[REJEICAO] CHECK CONSTRAINT [FK_USR_REJEITA]
GO
ALTER TABLE [dbo].[REJEICAO]  WITH CHECK ADD  CONSTRAINT [FK_USR_REJEITADO] FOREIGN KEY([_USR_REJEITADO])
REFERENCES [dbo].[USR] ([_ID])
GO
ALTER TABLE [dbo].[REJEICAO] CHECK CONSTRAINT [FK_USR_REJEITADO]
GO
ALTER TABLE [dbo].[USR]  WITH CHECK ADD  CONSTRAINT [FK_ID_LOGIN] FOREIGN KEY([_ID_LOGIN])
REFERENCES [dbo].[LOGIN] ([_ID])
GO
ALTER TABLE [dbo].[USR] CHECK CONSTRAINT [FK_ID_LOGIN]
GO
ALTER TABLE [dbo].[USR]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERFIL] FOREIGN KEY([_ID_PERFIL])
REFERENCES [dbo].[PERFIL] ([_ID])
GO
ALTER TABLE [dbo].[USR] CHECK CONSTRAINT [FK_ID_PERFIL]
GO
/****** Object:  StoredProcedure [dbo].[BuscaListaCurtir]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscaListaCurtir]
@EMAIL VARCHAR(255)
AS
select u.nome,u.apelido,u.url_img from
login l,
USR U 
WHERE
l._id = u._id_login
and 
l.email <> @EMAIL
and
 u._id not in ( SELECT DISTINCT R._USR_REJEITADO FROM LOGIN L, USR U, REJEICAO R WHERE L._ID = U._ID_LOGIN AND U._ID = R._USR_REJEITA AND L.EMAIL = @EMAIL)
and 
u.sexo = (SELECT DISTINCT U.PREF_SEX FROM LOGIN L, USR U WHERE L._ID = U._ID_LOGIN AND L.EMAIL = @EMAIL)
GO
/****** Object:  StoredProcedure [dbo].[BuscaLogin]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[BuscaLogin]

@USUARIO varchar(254),
@SENHA varchar(50)

AS

SELECT EMAIL,SENHA,_ATV from LOGIN where EMAIL = @USUARIO and SENHA = @SENHA and _ATV = 1

GO
/****** Object:  StoredProcedure [dbo].[CarregaPerfil]    Script Date: 04/10/2015 20:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CarregaPerfil]
@USUARIO varchar(255)

AS
SELECT NOME,APELIDO,URL_IMG 
FROM USR 
WHERE _ID_LOGIN =  (SELECT _ID FROM LOGIN WHERE EMAIL = @USUARIO)
GO
USE [master]
GO
