@model InMost.Models.LoginModel
@{
    ViewBag.Title = "INMOST - Bem Vindos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

     

 <i class="flaticon-menu55 iconMenu btn-menu"></i>

        <div id="menu-toggle">
            <a href="@Url.Action("SobreNos","SobreNos")">
                <nav>
                    <i class="flaticon-black400"></i>
                    <p>Sobre Nós</p>
                </nav>
            </a>
        </div>

    <img src="~/img/logo.png" alt="Beta Inmost" class="logo">

    <main>
        <div class="box-login">
            @using (Html.BeginForm("Logar", "Login", FormMethod.Post, new { @name = "form1", @class = "form-horizontal" }))
            {
                <label>
                    <i class="flaticon-users91"></i>
                    @Html.TextBoxFor(m => m.User, new { @type = "email", @placeholder = "email", @class = "margin-icon" })
                </label>
                    <label>
                        <i class="flaticon-key59"></i>
                        @Html.PasswordFor(m => m.Password, new { @type = "password", @placeholder = "senha", @class = "margin-icon" })
                    </label>

                    <input type="submit" value="entrar" class="tt-upper">


            }



        </div>
    </main>



    @if (ViewBag.Validacao != null)
    {
        if (ViewBag.Validacao == false)
        {
            <script>
                swal("Desculpe", "Usuario Invalido", "error");
            </script>
        }

    }

