<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="~/Content/sweetalert.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="~/Content/estilo.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    
  
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
  
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/convidar.js"></script>
    <script src="~/Scripts/toggle.js"></script>
   
  
    
</head>
<body>
    
   
    
  
        @RenderBody()
       
        <footer>
            <p>todos os direitos reservados # Beta Inmost 2015</p>
        </footer>
 

 
</body>
</html>