@model InMost.Models.SobreNosModel
@{
    ViewBag.Title = "SobreNos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<header>
    <a href="@Url.Action("Login","Login")"><img src="~/img/logo.png" alt="Beta Inmost" class="logo"></a>
 
</header>
<main>
    <div class="layout">
        <h2>Quem somos ?</h2>
        <p>Fraternidade Beta Curitiba, ou para os íntimos: Beta CWB, somos referência no país como a fraternidade mais lembrada e ativa.</p>
        <p>Fundada em 2011 a Beta CWB, que nasceu com o objetivo de promover festas e eventos, cresceu!</p>
        <p>Hoje com um número considerável de membros daqueles mais divertidos, colaborativos e com aquela malicia clássica, formamos uma grande família e o resultado disso é boas parcerias na área do lazer e entretenimento;</p>
        <p>Ao conquistar esse gigantesco respeito no mercado, a Beta CWB e seus membros decidiram inovar e facilitar o relacionamento dos membros de uma maneira discreta,  nascendo o app Beta Inmost, o app é privado para membros, mas  os membros tem a opção de  convidar novas pessoas, estes convidados podem ver o que rola no app, quem esta participando, mas seu acesso se restringe a isto, lembrando é uma rede de membros!, se você não é membro o que esta esperando venha fazer parte e conhecer a beta no intimo.</p>
    </div>
</main>